.logo img {
    width: 950px;
    height: 80px;
    margin-left: 22%;
}

nav {

    font-family: "Segoe UI";
    position: fixed;
    margin: 0px;
    top: 0;
    width: 100%;
    background-color: #eee;
    ;
}

.right ul {
    display: flex;
    gap: 44px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-bottom: 8px;
    padding-top: 3px;
    background-color: #af0a0ae0;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right ul li span {
    padding: 0 5px;
}